* {
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    background: yellow;
}

.flex-itens {
    width: 100%;
    height: 500px;
    color: white;
    background: red;
    margin: 10px;
}